
header{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    align-items:center;
}
button{
    margin:1em;
    font-size:0.8em;
    background-color: rgb(93, 93, 189);
    color: white;
    border-radius:2.5em;
    border:1px dotted rgb(93, 93, 189);

}
#refresh{
    border-radius:50%;
    border:none;
    font-size:1.3em;
}
button:hover{
    background-color: white;
    color:rgb(93, 93, 189);
    
}
#container {
    display: flex;
    justify-content: center;
}
#container div{
    border: 1px rgb(93, 93, 189) dotted;
    height:32px; width:32px;   

}
footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
#footer{
    position: fixed;
    bottom:0.1em;
    
}